$main-bg: rgb(83, 82, 19);
$pri-bg: #e2c2b9; //rgb(238, 255, 0);
$sec-bg: #f2ddc1;
$glass-bg: rgba(0, 0, 0, 0.192);
$white-bg: rgb(254, 255, 245);

$circle-tools-height: 360px;
$circle-tools-width: 50%;

$circle-tools-height-max: 260px;
$circle-tools-width-max: 600px;

$circle-tools-height-min: 180px;
$circle-tools-width-min: 350px;

// new colors
$main-bg2: #345b63;
$pri-bg2: #4ca1a3;
$sec-bg2: #f2ddc1;
$third-bg: #64c9cf; // #3d087b;
$project-bg: #4ca1a3;
$font-color: #f2ddc1;
$pri-font-color: #d3e4cd;
$greadent: linear-gradient(
  128deg,
  rgba(34, 192, 195, 0.726) 0%,
  rgba(253, 187, 45, 0.712) 130%
);
// @media (max-width: 700px) {
//   $circle-tools-height: 200px;
//   $circle-tools-width: 400px;
// }
